@font-face {
  font-family: 'vacations';
  src: url('../src/fonts/vacations_in_paradise_personal_use-webfont.woff')
      format('woff'),
    url('../src/fonts/vacations_in_paradise_personal_use-webfont.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewayextralight';
  src: url('../src/fonts/raleway-extralight-webfont.woff2') format('woff2'),
    url('../src/fonts/raleway-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaylight';
  src: url('../src/fonts/raleway-light-webfont.woff2') format('woff2'),
    url('../src/fonts/raleway-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaymedium';
  src: url('../src/fonts/raleway-medium-webfont.woff2') format('woff2'),
    url('../src/fonts/raleway-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewayregular';
  src: url('../src/fonts/raleway-regular-webfont.woff2') format('woff2'),
    url('../src/fonts/raleway-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* -------------------------------------------------GLOBAL STYLES-------------------------------------------------- */
.container {
  margin-top: 1rem;
}
h1 {
  font-size: 1.5rem;
  font-family: 'vacations', arial;
  padding-bottom: 1rem;
  color: #193c40;
}
h2 {
  font-size: 1.2rem;
  font-family: 'ralewaymedium', arial;
}
h3 {
  font-size: 1rem;
  font-family: 'ralewayregular', arial;
}
p {
  font-family: 'ralewaymedium', arial;
  color: #1d1d1d;
}
a {
  text-decoration: none;
  color: #1d1d1d;
}
.input-group-text {
  background-color: #343a40;
}
.searchbar-icon {
  color: #ffffff;
}
.button {
  background-color: #343a40;
  border: none;
  border-radius: 4px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: 'ralewaymedium', arial;
  padding: 0.4rem 1.3rem;
  cursor: pointer;
}
.button:hover {
  background-color: #ff8400;
}
.button:active {
  background-color: #193c40 !important;
}
.validation-error {
  color: #c02626;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 0.9rem;
  background-color: #e6643042;
}
.error-h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.error-text {
  padding-bottom: 1rem;
}
.error-imagecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.error-imagecontainer__image {
  border-radius: 1%;
}
.error-imagecontainer__text {
  padding-top: 2px;
  text-align: center;
  font-size: 11px;
}
/* ---------------------------------------------------NAVBAR------------------------------------------------------ */
.navbar {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}
.navbar .container {
  margin: 0;
}
.navbar i {
  font-size: 1.3rem;
}
.navbar a {
  color: #000000;
  padding-right: 1rem;
  font-family: 'ralewaylight', arial;
  letter-spacing: -2px;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.navbar a:hover {
  color: #ff8400;
  padding-right: 1rem;
  text-decoration: none;
}
.navbar button:hover {
  color: #ff8400;
}
.navbar a:active {
  color: #193c40;
  padding-right: 1rem;
  text-decoration: none;
}
.navbar button:active {
  color: #193c40;
}

.logout-button,
.admin-button,
.login-button {
  background-color: #ffffff;
  font-family: 'ralewaymedium', arial;
  text-transform: uppercase;
  border: none;
  font-size: 0.8rem;
  color: #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.navbar .logout-icon:hover {
  color: #ff8400;
}
/* ---------------------------------------------------MAIN------------------------------------------------------- */
main {
  border-top: solid #ff8400 2px;
  min-height: 100vh;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url('./images/background-main.jpg');
  background-position: center;
  background-repeat: repeat;
}
/* -----------------------------------------------------FOOTER-------------------------------------------------- */
.footer {
  background-color: #193c40;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 100px;
}
.footer-icons__facebook {
  font-size: 2rem;
  color: #ffffff;
}
.footer-icons__twitter {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}
.footer-icons__pinterest {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}
.footer-icons__instagram {
  font-size: 2rem;
  color: #ffffff;
}
.footer i:hover {
  color: #ff8400;
  list-style-type: none;
}
.footer-icons {
  padding-top: 1rem;
  flex-direction: row;
}
.footer-copyright__text {
  text-align: center;
  color: white;
  font-size: 1rem;
}
/* -------------------------------------------------HOMEPAGE------------------------------------------------------ */
.homepage-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.homepage-imagecontainer {
  position: relative;
  width: 100%;
}
.homepage-imagecontainer__image {
  height: auto;
  width: 100%;
  border-radius: 5px;
}
.homepage-imagecontainer__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ff8400;
  font-family: 'ralewaymedium', arial;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  padding: 1.2rem;
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.homepage-imagecontainer__button:hover {
  background-color: #193c40;
}
.enquire-container__heading-one {
  padding-top: 1rem;
}
.enquire-container__heading-two {
  padding: 5px 0 5px 0;
}
.enquire-container__button {
  background-color: #ff8400;
  font-family: 'ralewaymedium', arial;
  text-transform: uppercase;
  border: none;
  font-size: 0.8rem;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.enquire-container__button:hover {
  background-color: #193c40;
}
/* -------------------------------------------------ACCOMMODATIONSPAGE------------------------------------------------------ */
.accommodations-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.accommodations-searchbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.accommodations-empty {
  font-family: 'ralewaythin', arial;
  text-transform: uppercase;
}
.accommodations-empty__warning {
  font-size: 1.3rem;
  margin-top: 1rem;
  width: 310px;
  font-weight: bold;
  color: #c02626;
}
.accommodations-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.accommodations-container__posts {
  display: flex;
  flex-direction: column;
  width: 333px;
  height: 310px;
  margin: 20px 0px 20px 0px;
  padding: 1rem;
  padding-top: 2rem;
  border: solid 1px #343a40;
  border-radius: 2%;
}
.accommodations-container__posts-title {
  font-weight: bold;
}
.accommodations-container__posts-info {
  font-family: 'ralewaythin', arial;
  font-size: 1.2rem;
  font-weight: bold;
}
.loading-container {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: 'ralewaythin', arial;
  font-weight: bold;
  color: #ff8400;
}
.accommodations-container__posts-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: 'ralewaythin', arial;
}

/* -------------------------------------------------CONTACTPAGE------------------------------------------------------ */
.contact-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* -------------------------------------------------LOGINPAGE------------------------------------------------------ */
.login-form__login {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: 'ralewaythin', arial;
}
.login-form__login-button:hover {
  background-color: #ff8400;
}
.login-form__login-button:active {
  background-color: #193c40;
}

/* -------------------------------------------ADMIN-/POSTSPAGE--------------------------------------------- */
.admin-post__heading {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}
.admin-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.admin-card__card {
  display: flex;
  flex-direction: column;
  width: 333px;
  height: 250px;
  margin: 20px 0px 20px 0px;
  padding: 1rem;
  padding-top: 2rem;
  border: solid 1px #494949;
  border-radius: 2%;
}
.admin-card a {
  text-decoration: none;
}
.admin-card__card:hover {
  background-color: #dadada;
  color: #000000;
}
.admin-card__title {
  font-weight: bold;
  font-family: 'ralewaythin', arial;
  text-transform: uppercase;
}
.admin-home {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.admin-home a {
  font-size: 1.4rem;
  font-weight: bold;
  font-family: 'ralewaythin', arial;
  text-decoration: none;
}
.admin-home a:hover {
  color: #ff8400;
}
.admin-home a:active {
  color: #193c40;
}
.spinner {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: 'ralewaythin', arial;
  font-weight: bold;
  color: #ff8400;
}
.searchbar-admin {
  padding-top: 1rem;
  max-width: 333px;
}
.new-post {
  text-transform: uppercase;
  font-family: 'ralewaythin', arial;
  font-size: 1.3rem;
  font-weight: bold;
}
.new-post a {
  color: #343a40;
  text-decoration: none;
}
.new-post a:hover {
  color: #ff8400;
}
.postlist-empty {
  font-family: 'ralewaythin', arial;
  text-transform: uppercase;
}
.postlist-empty__warning {
  font-size: 1.3rem;
  margin-top: 1rem;
  width: 310px;
  font-weight: bold;
  color: #c02626;
}
/* -------------------------------------------------ADDPOSTPAGE------------------------------------------------------ */
.add-post__submit {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: 'ralewaythin', arial;
  font-weight: bold;
  color: #ff8400;
}
.postsmedia-dropdown__searchbar {
  padding: 1rem 1rem 0rem 1rem;
}
.postsmedia-dropdown__empty {
  font-family: 'ralewaythin', arial;
  text-transform: uppercase;
  text-align: center;
}
.postsmedia-dropdown__empty-warning {
  font-size: 1.3rem;
  padding: 1rem;
  width: 310px;
  font-weight: bold;
  color: #c02626;
}
/* -------------------------------------------------EDITPOSTPAGE------------------------------------------------------ */
.update-container {
  display: flex;
  align-items: baseline;
}
.update-container__success {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: 'ralewaythin', arial;
  padding: 1rem 1rem 1rem 0rem;
}
.update-container__success-icon {
  color: #2ea82e;
  font-size: 1.7rem;
  padding-left: 5px;
}
.update-button__group {
  padding-top: 1rem;
  font-family: 'ralewaythin', arial;
}
.delete-button {
  padding: 0.7rem 1.3rem;
  text-transform: uppercase;
  font-size: 1.1rem;
}
.update-button__group-button {
  padding: 0.7rem 1.3rem;
  background-color: #ff8400;
  text-transform: uppercase;
  font-size: 1.1rem;
}
.update-button__group-button:hover {
  background-color: #ff8400;
}

@media only screen and (max-width: 500px) {
  .logo {
    padding: 1rem;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
  }
  .navbar-menu__admin {
    display: flex;
    flex-direction: column;
  }
  .navbar-menu__admin {
    display: flex;
    flex-direction: column;
  }
  .navbar-left {
    display: none;
  }
  .navbar-right {
    display: none;
  }
  .footer {
    display: flex;
    justify-content: center;
  }
  .footer-left {
    display: none;
  }
  .footer-right {
    display: none;
  }
}
